PORT=3000
DB_HOST=gateway01.sa-east-1.prod.aws.tidbcloud.com
DB_PORT=4000
DB_DATABASE=secult_db
DB_USERNAME=your_username
DB_PASSWORD=your_password
DB_SSL=true
JWT_SECRET=your_secret_key
JWT_EXPIRES_IN=8h
ADMIN_DEFAULT_EMAIL=admin@secult.es.gov.br
ADMIN_DEFAULT_PASSWORD=your_secure_password
UPLOAD_DIR=uploads
